.messy-list
{
    width: 100%;
}

.messy-list ul{
    padding: 0;
    margin: 60px auto 0 auto;
    padding-left: 75px;
}

.messy-list ul li
{
    list-style-type: none;
    position: relative;
    font-weight: bold;
    padding: 10px 0;

}

.messy-list ul li:hover
{
    color:var(--main-color_1);
    text-shadow: 0px 0px 5px #C52F91;
}

/* deorganizing the list*/

@media screen and (min-width: 800px)
{
    .messy-list ul li 
    {
        width: 33.33%;
        display: inline-block;
    }
    .messy-list ul li:nth-child(2)
    {
        top: -35px;
        left: -20%;
    }
    
    .messy-list ul li:nth-child(3)
    {
    
        left: -37%;
    }
    
    .messy-list ul li:nth-child(4)
    {
        top: 15px;
        left: 10%;
    }
    
    .messy-list ul li:nth-child(5)
    {
        top: -8px;
    }
    
    .messy-list ul li:nth-child(6)
    {
        top: 10px;
        left: -18%;
    }
    .messy-list ul li:nth-last-child(1)
    {
        left: 28%;
    }
}