.part{
    position: relative;
    overflow: hidden;
}

.separator{
    max-width: 80px;
    height: 5px;
}

.main-section{
    padding-top: 40px;
    padding-bottom: 40px;
}

.section_description
{
    margin-left: 80px;
}

.section_title
{
    margin-bottom: 0;
    padding-bottom: 5px;;
}

.section_title, .separator
{
    margin-left: 75px;
}