nav
{
    position: sticky;
    top: 0;
}

.nav-bar_ul
{
    list-style-type: none;
    margin: 0;
    padding: 0px;
}

.nav-bar_ul li
{
    display: inline-block;
    padding: 0px 10px;
    color: var(--main-extra-light_1);
    cursor: pointer;
}

.mobile_menu
{
    background-color: var(--main-extra-light_1);
    opacity: .5;
    position: fixed;
    right: 0;
    top: 0;
    width: 33%;
    height: 100vh;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);

}

.mobile_menu .nav-bar_ul li
{
    display:block;
    color: var(--main-dark_1);
}

.mobile_menu__inner
{
    text-align: center;
}

.menu-icons
{
    z-index: 999;
    position: fixed;
    right: 5px;
    top:5px;
    color:var(--main-extra-light_1)
}