header{
    height: 500px;
    background-size: 90%;
    background-position-x: center;
    background-repeat: no-repeat;
    display: flex;
    align-items:center ;
    justify-content: space-evenly;
}

.header_button__back:hover
{
   background-image: linear-gradient(90deg, #C52F91, #F58634, #2FC5A6 );
   color: #ffffff;
}

.header_circular-back img
{
 
 z-index: -1;
 position: absolute;
 top: -65%;
 left: -10%;
 max-width: 120%;
 opacity: 0.08;
}