.contact-form_form{
    padding: 2% 5%;
}

.contact-form_form input::placeholder
{
    color: #898989;
}

input
{
    border-radius: 40PX;
    -webkit-border-radius: 40PX;
    -moz-border-radius: 40PX;
    -ms-border-radius: 40PX;
    -o-border-radius: 40PX;
}

.radius_md
{
    border-radius: 40PX;
    -webkit-border-radius: 40PX;
    -moz-border-radius: 40PX;
    -ms-border-radius: 40PX;
    -o-border-radius: 40PX;
}

.contact-form_form button[type = "submit"]
{
    margin: 10px 0;
}