:root
{
  --light-grey: #E6E7E8;
  --main-light_1: #E6E7E8;
  --main-extra-light_1: #ffffff;
  --main-dark_1: #1c222a;
  --main-color_1: #C52F91;
  --main-color_2: #F58634;
  --dinamic: 1;
}
@media screen and (max-width: 500px)
{
  :root
  {
    --dinamic: 2;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1c222a;
  color: #ffffff;
  overflow-x: hidden;
}

section
{
  background-color: #1c222a70;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
